.hotel-details {
   padding: 20px;
}

.hotel__content {
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.hotel__image {
   width: 100%; /* Prend toute la largeur du conteneur */
   height: auto; /* Maintient le ratio d'aspect */
   max-height: 400px; /* Limite la hauteur maximale de l'image */
   object-fit: cover; /* Assure que l'image couvre le conteneur sans déformer */
}

.hotel__title {
   font-size: 28px;
   font-weight: bold;
}

.hotel__location,
.hotel__price,
.hotel__address {
   font-size: 16px;
}

.hotel__rating {
   margin-top: 10px;
}

.hotel__description {
   font-size: 14px;
}

.hotel__reviews h4 {
   margin-top: 20px;
}

.review__item {
   background-color: #f9f9f9;
   padding: 10px;
   border-radius: 5px;
   display: flex; /* Utilisation du flex pour aligner les éléments */
   align-items: center; /* Centrer verticalement */
}

.review__avatar {
   width: 50px;
   height: auto;
   border-radius: 50%;
   margin-right: 10px; /* Ajout d'un espace entre l'avatar et le texte */
}

.review__details h5 {
   margin-bottom: -5px; /* Ajustement du margin pour un meilleur espacement */
}

